*,*:before, *:after {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
}

html,body {
    height:100%;
    overflow-y:hidden;
}

canvas{
    border: 1px solid black;
    /*width:100%;*/
    /*height:100%;*/
    display: block;
    margin: 0 auto;
}

.wrapper {
    width:100%;
    height:100%;
    display:flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;
    background:url(../img/SnakeBackground.png) no-repeat center;
    background-size:cover;
    /*background:none !important;*/
}

.header {
    display: none;
    align-items: center;
    width:100%;
    height:50px;
    background: #08B3C6;

}

.header-content {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:180px;

}

.header-left span {
    width:20px;
    height:20px;
    background:red;
    display: none;
}

.header-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:230px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:180px;
}

.header-right span {
    width:20px;
    height:20px;
    background:green;
    display: none;
}


.main {
    background:black;
    width:100%;
    height:100%;
    display: none;
}


.modal-window {
    /*display: none !important;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    left:32%;
    top:25%;
    width:900px;
    height:600px;
    background: rgba(245, 245, 245, 0.55);
}

.modal-window-content {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background: #DDDDDD;
}


/*Game-mode*/

#game_mode_tittle {
    margin-top:40px;
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 76px;
    color: #004575;
}

.game-mode  {
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 41px;
    color: #FFFFFF;
    margin-top:51px;
    width: 400px;
    height: 80px;
    background: #004575;
    box-shadow: 0 15px 0 #003555;;
    cursor:pointer;
}

.game-mode:hover {
    transition: .2s;
}


/*Solo-player*/

#solo-name {
    font-style: normal;
    font-weight: normal;
    display: none;
    margin-top:40px;
    font-size: 56px;
    line-height: 66px;
    color: #004575;
}

#solo-player {
    font-style: normal;
    font-weight: normal;
    display: none;
    margin-top:30px;
    width: 400px;
    height: 65px;
    background: #BBBBBB;
    font-size: 35px;
    line-height: 41px;
    color: #505050;
    padding:16px;
}

#solo-next {
    font-style: normal;
    font-weight: normal;
    display: none;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-top:66px;
    width: 400px;
    height: 80px;
    background: #004575;
    box-shadow: 0 15px 0 #003555;;
    cursor:pointer;
}


/*Multi-players*/

#multi-player {
    display: none;
    font-style: normal;
    font-weight: normal;
    margin-top:40px;
    font-size: 56px;
    line-height: 66px;
    color: #004575;
}

.players {
    display: none;
    font-style: normal;
    font-weight: normal;
    margin-top:30px;
    width: 400px;
    height: 65px;
    background: #BBBBBB;
    font-size: 35px;
    line-height: 41px;
    color: #505050;
    padding:16px;
}

#multi-players-next {
    display: none;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 41px;
    color: #FFFFFF;
    margin-top:44px;
    width: 400px;
    height: 80px;
    background: #004575;
    box-shadow: 0 15px 0 #003555;;
    cursor:pointer;
}


/*Difficulty settings*/

#difficulty {
    display: none;
    font-style: normal;
    font-weight: normal;
    margin-top:40px;
    font-size: 56px;
    line-height: 66px;
    color: #004575;
}

.game-settings {
    display: none;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    line-height: 41px;
    color: #FFFFFF;
    margin-top:51px;
    width: 400px;
    height: 80px;
    background: #004575;
    box-shadow: 0 15px 0 #003555;;
    cursor:pointer;
}


